body 
{
	margin:0px;
	padding:0px;
	/*background:#FFF url(/gfx/bg.jpg) repeat-x;*/
	font-family:Arial;
	font-size:14px;
}

form { margin:0;padding:0; }
img { border:none; }

.container .header
{
	background-color: #F9F9F9;
	padding:10px 10px 0px 10px;
	border-bottom:1px solid #EEE;
}

.container .header ul
{
	margin:0;
	border-left:0;
	border-right:0;
	padding:5px 0 0px 0;
}

.container .header ul li
{
	margin:0;
	padding:0;
	display:inline-block;
	margin:0px 2px;
	position:relative;
}

.container .header ul li a
{
	display:block;
	padding:5px 8px;
	position:relative;
	top:1px;
}

.container .header ul li.active a
{
	background-color:#FFF;
	border:1px solid #EEE;
	border-bottom:1px solid #FFF;
	text-decoration:none;
	font-weight:bold;
	color:#000;
}

.ctn
{
	padding:10px;
}

.ctn ul.menu
{
	margin:0;
	padding:0;
	list-style:none;
	padding-bottom:10px;
}

.ctn ul.menu li
{
	display:inline-block;
	margin-right:15px;
}

.ctn ul.menu li a
{
	font-weight:bold;
}

.ctn h3
{
	margin:0px 0px 10px 0px;
	padding:0px 5px 5px 0px;
	font-size:26px;
}

ul.error 
{ 
	list-style:none;
	margin:0;
	background:url(/gfx/bg.jpg) repeat-x;
	background-position: 0px -110px;
	padding:10px;
	font-weight:bold;
	border:1px solid #DFDFDF;
	margin-bottom:10px;
}

.bar .total 
{
	background-color:#EEEEEE;
	border:1px solid #CCC;
	position:relative;
}

.bar .total div
{
	background-color:#DDDDDD;
	padding:3px 8px;
}

.bar .total span
{
	position:absolute;
	top:3px;
	left:8px;
}

#copyright
{
	background-color:#F0F0F0;
	margin-top:10px;
	text-align:center;
	font-size:11px;
	padding:5px;
}

.padding { padding:5px!important; }
.padding-top { padding-top:5px!important; }
.padding-bottom { padding-bottom:5px!important; }
.margin-top { margin-top:10px!important; }
.center { text-align:center!important; }
.clear { clear:both;content:".";_height:1px;_overflow:hidden; }
.bold { font-weight:bold; }
.hr { background-color:#CCC;height:1px;overflow:hidden; }
.separator { color:#CCC;padding:0px 7px; }
.small { font-size:11px!important; }
.large { font-size:14px!important; }
.adholder { position:absolute;top:20px;left:0px;display:none;z-index:999; }